<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/pay" method="POST">
      <input type="text" name="name" placeholder="Enter your name" />
      <input type="mobile" name="phone" placeholder="Enter your mobile" />
      <select name="entry">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
      <select name="type">
        <option value="male">male</option>
        <option value="female">female</option>
        <option value="couple">couple</option>
      </select>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
